<div id="home"  class="container spacer">
  <br>
  <div class="row">
    <h1 class="text-center">Category</h1>
    <br>
    <div class="well col-md-8 col-md-offset-2">
      
    </div>
  </div>
</div>